<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json"/>
      <mimeMap fileExtension=".woff" mimeType="application/x-woff"/>
    </staticContent>
  </system.webServer>
  <connectionStrings>
    <add name="BrianAlixDataModelContainer" connectionString="metadata=res://*/BrianAlixDataModel.csdl|res://*/BrianAlixDataModel.ssdl|res://*/BrianAlixDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BRIANS-PC\SQLEXPRESS;initial catalog=BrianandAlix;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
</configuration>
